@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Monoton&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

:root {
	--primary-dark: #03045e;
	--primary-light: #caf0f8;
	--highlight-color: #ff13f0;
	--hover-shadow-color: #023e8a;
	--text-color-1: #fff;
	--text-color-2: #000;
	--alan-text-color: #cfff04;
	--webb-text-color: #ffd5ff;
}

body {
	background-color: var(--primary-light);
	color: var(--text-color-2);
	font-family: "Exo 2", sans-serif;
	height: 100vh;
}

a {
	color: var(--text-color-1);
}

h2 {
	text-align: center;
	padding: 2rem;
	font-size: 2rem;
}

hr {
	display: block;
	width: 8rem;
	height: 0.125rem;
	margin-top: 0.625rem;
	border: none;
	background-color: var(--highlight-color);
}

button:hover,
button.submit:hover {
	background-color: var(--hover-shadow-color);
}

button:active {
	transform: translateY(2px);
}

/* NAVBAR */
.nav-container {
	background-color: var(--primary-dark);
	color: var(--text-color-1);
	font-size: 1.5rem;
	text-transform: uppercase;
	font-style: italic;
	padding: 1rem;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	top: 0;
	transition: scroll 0.5s ease-in-out;
	z-index: 3;
}

.nav-brand {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
}

.brand {
	display: inline;
	margin-left: 0.5rem;
}

.nav-menu {
	display: flex;
	gap: 2rem;
}

.nav-menu li {
	font-weight: 600;
	letter-spacing: 1px;
	cursor: pointer;
	padding: 0.5rem;
}

.nav-menu a:hover,
.nav-right i:hover {
	color: #ff13f0;
	transition: all 0.3s ease-in-out;
}

.nav-right {
	display: flex;
	gap: 1rem;
	position: absolute;
	top: 1.5rem;
	right: 2rem;
}

.hamburger {
	display: none;
}

.bar {
	background-color: var(--text-color-1);
	display: block;
	width: 23px;
	height: 3px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
}

/* Navbar Scroll Effect */
.navbar-scroll {
	background-color: var(--primary-dark);
	opacity: 0.8;
}

/* HEADER */
.header {
	display: flex;
	flex-direction: column;
	background: url("../images/header-image.jpg") center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 12rem;
	color: var(--text-color-1);
	z-index: 1;
}

.typing-text {
	font-size: 3rem;
	padding: 2rem;
}

.header-role {
	font-size: 2.5rem;
	font-weight: bold;
	margin-top: 16rem;
	padding: 1rem;
}

/* Neon name */
.neon-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: -4rem 1rem;
	padding: 2rem;
}

.alan {
	font-family: "Exo 2", sans-serif;
	font-size: 6rem;
	font-weight: 200;
	font-style: italic;
	color: var(--alan-text-color);
	position: absolute;
	top: -2rem;
	left: -16rem;
	transform: rotate(-15deg);
	animation: flicker-alan 1.5s infinite alternate;
}

.webb {
	font-family: "Monoton", sans-serif;
	font-size: 8rem;
	font-weight: 400;
	color: var(--webb-text-color);
	position: absolute;
	top: 2rem;
	letter-spacing: 8px;
	text-shadow: 1px 0px 4px var(--webb-text-color),
		2px 0px 4px var(--webb-text-color), 3px 0px 4px var(--webb-text-color),
		2px 0px 3px var(--text-shadow), 2px 3px 15px var(--text-shadow),
		2px 0px 15px, 5px 0px 125px, 20px 0vw 200px var(--text-shadow),
		40px 0vw 200px var(--text-shadow);
	z-index: 1;
}

.flicker-slow {
	animation: flicker-webb 3s linear infinite;
}

.flicker-fast {
	animation: flicker-webb 1s linear infinite;
}

/* ABOUT */
.about-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
}

.about-container h2 {
	font-size: 2rem;
	padding: 5rem 0 1rem;
}

.about-content {
	display: flex;
	align-items: center;
	gap: 8rem;
	margin: 2rem 4rem;
}

.about-img {
	width: 325px;
	box-shadow: 0 0 0 5px var(--highlight-color);
	animation: animate-border 5s ease-in-out infinite;
	transform: all 1s ease-in-out;
}

.about-text {
	max-width: 550px;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.7rem;
	margin-top: 2rem;
}

/* Icons */
.icon-heading {
	margin-top: -2rem;
}

.icon-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 2.5rem;
	padding-bottom: 4rem;
}

.tech-icon {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.tech-icon i,
.tech-icon p {
	color: var(--primary-dark);
}

.tech-icon p {
	font-weight: bold;
	padding: 0.5rem;
}

/* PROJECTS */
.projects {
	background-color: var(--primary-light);
	color: var(--text-color-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4rem;
	margin-bottom: 6.5rem;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-card {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 3rem;
	box-shadow: 0 2px 20px var(--highlight-color);
	overflow: hidden;
	background-color: var(--primary-light);
	border-radius: 15px;
	transition: all 0.8s ease-in-out;
}

.project-card:hover {
	transform: translateY(-20px);
}

.img-area {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

.img-area img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}

.img-area:hover img {
	transform: scale(1.1);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.project-card .img-area:hover .overlay {
	opacity: 1;
}

.view-project {
	background-color: var(--primary-dark);
	color: var(--text-color-1);
	width: 150px;
	padding: 1rem;
	border: 1px solid var(--highlight-color);
	box-shadow: 1px 1px 1px var(--hover-shadow-color);
	border-radius: 8px;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	margin-bottom: 10px;
}

.info {
	padding: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: var(--text-color-2);
}

.info h3 {
	margin: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

.info hr {
	margin: 1rem;
}

.badges {
	display: flex;
	font-size: 0.75rem;
	gap: 1rem;
}

/* CONTACT */
.contact-container {
	background-color: var(--primary-dark);
	color: var(--webb-text-color);
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url("../images/retro-landscape.jpg") center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
}

.contact-container:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.contact-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	color: var(--text-color-1);
	z-index: 1;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 6rem;
	z-index: 1;
	max-width: 800px;
	margin-right: 3rem;
}

.form-label {
	font-family: "Exo 2", sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--text-color-1);
	letter-spacing: 3px;
	margin-left: 1.6rem;
}

input,
textarea {
	background-color: var(--primary-light);
	font-size: 1rem;
	display: block;
	margin: 0.5rem 1.5rem;
	width: 100%;
	padding: 0.25rem;
	border: 2px solid var(--primary-dark);
	border-radius: 5px;
	resize: none;
}

input:focus,
textarea:focus {
	outline: none;
}

button.submit {
	margin-left: 1.5rem;
	width: 100%;
	background-color: var(--primary-dark);
	color: var(--text-color-1);
	border: 1px solid var(--highlight-color);
	border-radius: 5px;
	margin-top: 1rem;
	padding: 0.5rem;
	cursor: pointer;
}

.copyright {
	font-weight: bold;
	color: var(--alan-text-color);
	text-align: center;
	font-size: 1.5rem;
	padding: 1rem;
	z-index: 1;
	animation: flicker-alan 1.5s infinite alternate;
	position: absolute;
	bottom: 1.8rem;
}

/* TO TOP BUTTON */
.to-top-btn {
	position: fixed;
	z-index: 20;
	bottom: 1.5rem;
	right: 1.5rem;
	opacity: 0;
	width: 52px;
	height: 52px;
	border: none;
	border-radius: 50%;
	outline: none;
	background-color: var(--hover-shadow-color);
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.to-top-btn:hover {
	background-color: var(--highlight-color);
}

.to-top-btn img {
	margin-bottom: 0.25rem;
	width: 18px;
}

.show {
	opacity: 1;
}

/* KEYFRAMES */
/* Alan */
@keyframes flicker-alan {
	0%,
	19%,
	21%,
	23%,
	25%,
	54%,
	56%,
	100% {
		text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
			0 0 2rem var(--alan-text-color), 0 0 4rem var(--alan-text-color),
			0 0 6rem var(--alan-text-color), 0 0 8rem var(--alan-text-color),
			0 0 10rem var(--alan-text-color);
	}
	20%,
	24%,
	55% {
		text-shadow: none;
		box-shadow: none;
	}
}

/* Webb */
@keyframes flicker-webb {
	0%,
	19.999%,
	22%,
	62.999%,
	64%,
	64.999%,
	70%,
	100% {
		opacity: 0.99;
	}
	20%,
	21.999%,
	63%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
	}
}

/* Animated image border */
@keyframes animate-border {
	0%,
	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
}

/* MEDIA QUERIES */
/* Navbar */
@media only screen and (max-width: 992px) {
	.nav-menu {
		position: fixed;
		top: 3rem;
		width: 100%;
		flex-direction: column;
		align-items: center;
		right: -100%;
		transition: all 0.3s ease-in-out;
		background-color: var(--primary-dark);
	}

	.nav-menu.active {
		right: 0;
	}

	.nav-menu li {
		padding: 1rem;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

/* About section */
@media only screen and (max-width: 992px) {
	.about-content {
		flex-direction: column;
		text-align: center;
	}
	.about-img {
		margin-top: 2rem;
	}
	.about-text {
		margin-top: -2rem;
	}
	.icon-container i {
		max-width: 500px;
	}
}
