// Navbar
.navbar {
	transition: all 0.5s ease-in-out;
}

.navbar-sticky {
	opacity: 0.8;
}

// Header
.header {
	background: #151515
		url("https://plus.unsplash.com/premium_photo-1661963212517-830bbb7d76fc?q=80&w=1386&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
		center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
	z-index: 10;
}

.header .roles {
	font-family: "lora", sans-serif;
}

.header .social {
	bottom: 50px;
}

// About
.about-img {
	width: 250px;
	box-shadow: 0 5px 5px 5px var(--bs-primary);
	animation: animate 5s ease-in-out infinite;
	transform: all 1s ease-in-out;
}

hr {
	display: inline-block;
	width: 3.5rem;
	height: 0.125rem;
	margin-top: 0.625rem;
	border: none;
	background-color: var(--bs-primary);
	opacity: 1;
}

// Media queries
@media (max-width: 992px) {
	.navbar {
		background: var(--bs-dark);
	}
	.nav-link:last-child {
		margin-bottom: 1rem;
	}
	.about-content {
		flex-direction: column;
	}
}

// Keyframes
// animated hero image
@keyframes animate {
	0%,
	100% {
		border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	}
	50% {
		border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
	}
}
